.review{
    height: 300px;
    margin: 20px;
    border: 1px solid goldenrod;
    padding: 10px;
    color: white;
    border-radius: 7px;
    background-color:#0e8070;
    box-shadow: 0 0 8px #0c0b0b80;

}
.review-picture-name{
    display:flex;
}
.review-picture-name img{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 20px;
}
.user-name{
    font-size: 15px;
    font-weight: bold;
}
.user-review{
    font-size: 13px;
    padding: 10px;
}
.rating{
    color: #fdae05
}
.user-rating{
    color: #021425
}