.camera-description{
    padding-top:50px;
}
.camera-title{
    color: rgb(255, 147, 7);
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.camera-text{
    font-size: 15px;
    padding:20px;
    
    opacity: .8;
}


.camera-name{
    font-size: 18px;
    font-weight: bold;
    opacity: .9;
    color:rgb(7, 61, 105);
}
